dtd/filmak.dtd

<!ELEMENT filmak (filma)*>
<!ELEMENT filma(izenburua, data, zuzendaria, generoa, iraupena, sinopsia, balorazioa, esteka)>
<!ELEMENT izenburua (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT zuzendaria (#PCDATA)>
<!ELEMENT generoa (#PCDATA)>
<!ELEMENT iraupena (#PCDATA)>
<!ELEMENT sinopsia (#PCDATA)>
<!ELEMENT balorazioa (#PCDATA)>
<!ELEMENT esteka (#PCDATA)>
